
.height-width {
  height: 500px;
  width: 100%;
}
.Card.Title {
  text-align: center;
 
}
.card-one {
  box-shadow: 0 4px 8px rgba(145, 51, 51, 0.1); 
  border: none !important; 
 
  }

 .popins{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
 }
  

  
  .col-sm{
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1); 
    border: none !important; 
    border-radius: 15px; 
    margin: 10px;
 
  }
 

  
     

  
